body {
  font-family: 'Amatic SC', cursive;
  background: #e4b4a5;
}
/*header*/
  .header {
    display: block;
    padding: 60px;
    text-align: center;
    background: lightseagreen;
    color: #d25349;
    font-size: 60px;
    top: 0;
  }
  
  .header p{
  color: #6a524a;
  }

 .header img{
   position: relative;
   min-width: 100%;
   min-height: 100%;
   z-index: 0;
 }





/*Podcast*/

  /*El Bombo de Karvala*/
    .bombo{
      position: relative;
      left: 25%;
      background: coral;
      height: 550px;
      width: 700px;
      border-radius: 25px;
      margin-bottom: 20px;
      margin-right: 20px;
    }

    .bombo img {
      position: absolute;
      top: 35%;
      right: 0;
      left: 0;
      margin: 0 auto;
    }

    #logobombo:hover{
      border:solid coral;
      transition: transform 1s;     
      transform: scale(1.2);
      cursor: pointer;
    }

  /*Hasta AQuí Puedo Ver*/    
    .hastaaqui{
      position: relative;
      left: 25%;
      background: lightseagreen;
      height: 550px;
      width: 700px;
      margin-bottom: 20px;
      border-radius: 25px;
    }

    .hastaaqui img {
      position: absolute;
      top: 15%;
      right: 0;
      left: 0;
      margin: 0 auto;
    }

    #logohastaaqui:hover {
      border:solid lightseagreen;
      transition: transform 1s;     
      transform: scale(1.2);
      cursor: pointer;
    }
  
    /*GE-AMPA Izartxo Podcast*/    
  .izartxo{
    position: relative;
    left: 25%;
    background: #ffc300;
    height: 700px;
    width: 700px;
    border-radius: 25px;
  }

  .izartxo img {
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  #logoizartxo:hover {
    border:solid #ffc300;
    transition: transform 1s;     
    transform: scale(1.2);
    cursor: pointer;
  }  